.my-navbar {
  border: 0;
  border-radius: 0;
}

.my-navbar .navbar-brand{
  color: white;
}

.navbar-brand{
  font-size: 50px;
}

.container{
  margin-top: 10px;
  margin-bottom: 10px;
  align-content: center;
  align-items: center;
}




